
{% extends 'school/index.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<section id="login" class="d-flex align-items-center justify-content-center" style="min-height: 10vh;">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="card shadow-lg p-4">
          <h2 class="text-center text-primary mb-4">Teacher Login</h2>
          
          <!-- Formulario de Login -->
          <form method="post">
            {% csrf_token %}
            
            <!-- Campo de Usuario -->
            <div class="mb-3">
              <label for="username" class="form-label">Usuario</label>
              {% render_field form.username class="form-control" placeholder="Username" id="username" %}
            </div>
            
            <!-- Campo de Contraseña -->
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              {% render_field form.password class="form-control" placeholder="Password" id="password" %}
            </div>
            
            <!-- Botón de Enviar -->
            <button type="submit" class="btn btn-primary w-100">Entrar</button>
          </form>
          
          <!-- Enlace a Registrarse -->
          <div class="text-center mt-3">
            <a>Aun no eres Profesor? <a href="teachersignup" class="text-primary">Regístrate aquí</a></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
