
{% extends 'school/index.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<section id="login" class="d-flex align-items-center justify-content-center" style="min-height: 10vh;">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="card shadow-lg p-4">
          <h2 class="text-center text-primary mb-4">Teacher Register</h2>
          
          <!-- Formulario de Login -->
          <form method="post">
            {% csrf_token %}
            
            
            <!-- Campo de Usuario -->
            <div class="mb-3">
              <label for="username" class="form-label">Usuario</label>
              {% render_field form1.username class="form-control" placeholder="Username" id="username" %}
            </div>
            
            <!-- Campo de Nombre -->
            <div class="mb-3">
              <label for="first_name" class="form-label">Nombre</label>
              {% render_field form1.first_name class="form-control" placeholder="First Name" id="first_name" %}
            </div>
            <!-- Campo de Apellido -->
            <div class="mb-3">
              <label for="last_name" class="form-label">Apellido</label>
              {% render_field form1.last_name class="form-control" placeholder="Last Name" id="last_name" %}
            </div>
            <!-- Campo de Móvil -->
            <div class="mb-3">
              <label for="mobile" class="form-label">Celular</label>
              {% render_field form2.mobile class="form-control" placeholder="Mobile" id="mobile" %}
            </div>
            
            
            <!-- Campo de Contraseña -->
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              {% render_field form1.password class="form-control" placeholder="Password" id="password" %}
            </div>
            
            <!-- Campo de Salario -->
            <div class="mb-3">
              <label for="salary" class="form-label">Salary</label>
              {% render_field form2.salary class="form-control" placeholder="Salary" id="salary" %}
            </div>
            
            <!-- Botón de Enviar -->
            <button type="submit" class="btn btn-primary w-100">Entrar</button>
          </form>
          
          <!-- Enlace a Registrarse -->
          <div class="text-center mt-3">
            <a>Ya tienes Cuenta? <a href="teacherlogin" class="text-primary">Regístrate aquí</a></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
